body {
  background-color: #d5e1ef;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;  /* center horizontally */
  align-items: center;      /* center vertically */
  background-color: #d6e2f0; /* Optional background */
  font-family: 'Outfit', sans-serif; /* Optional font */
}

.main {
  width: 20%;
  height: 50%;
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: auto;
} 

.main p {
  color: hsl(0, 0%, 40%);
  text-align: center;
  font-size: 16px;
}

.qr-code {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

h3, p {
  text-align: center;
  padding: 0 6%;

}

.attribution p{
  font-size: 10px;
  text-align: center;
  color: hsl(0, 0%, 50%);
  margin-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: 500;
}

.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 390px) {
  .main {
    width: 90%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
  }
}